.breadcrumbs{
    display:flex;
    font-style:italic;
    font-size:14px;
    margin-bottom:28px;
}


.breadcrumbs__link{
    color:rgba(248, 149, 19, 0.8);
}

.breadcrumbs__item--active .breadcrumbs__link{
    color: rgba(34, 31, 31, 0.8);
}

.breadcrumbs__item:not(:last-child):after{
    content:"/";
    margin-right:2px;
}