
.main-commments__container{
    padding:0 110px;
    margin-bottom:50px;
}

.rewiews-wrapper h2{
    font-size:49px;
    letter-spacing:2.5px;
    margin-bottom:50px;
}


.rewiews{
    display:flex;
    flex-direction:column;
}

.rewiew{
    display:flex;
    font-size:18px;
    font-weight:300px;
    line-height:1.5;
}

.rewiew:not(:last-child){
    margin-bottom:60px;
}

.rewiew__description time{
    font-size:14px;
    color:#656464;
}

.rewiew__description h4 {
    margin-bottom:10px;
}


.afrodita-avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:160px;
    overflow:hidden;
    filter:grayscale(1);
}


