.comments{
    margin-bottom:50px;
}

.comments__content{
    padding:0 110px;
}

.comments__content h2{
    font-size:49px;
    letter-spacing:2.5px;
    margin-bottom:50px;
}


.last-comments{
    display:flex;
    flex-direction:column;
}

.last-comments__list{
    display:flex;
    font-size:18px;
    font-weight:300px;
    line-height:1.5;
}

.last-comments__list:not(:last-child){
    margin-bottom:60px;
}

.comments-description time{
    font-size:14px;
    color:#656464;
}

.comments-description h4 {
    margin-bottom:10px;
}


.afrodita-avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:160px;
    overflow:hidden;
    filter:grayscale(1);
}


