.features{
    height:570px;
    padding-top:66px;
    background-color: #131415;
}

.features h1{
    text-align:center;
    margin-bottom:63px;
    color:#fff;
    font-size:49px;
    letter-spacing:2.6px;
}


.feature-wrap{
    display:flex;
    justify-content:center;
}


.feature{
    width:200px;
    color:#fff;
}

.feature:nth-of-type(1),
.feature:nth-of-type(2){
    margin-right:75px;
}

.feature__logo{
    width:66px;
    height:66px;
    border-radius:50%;
    margin:0 auto;
    margin-bottom:41px;
    background-color:#f89513;
    display:flex;
    align-items:center;
    justify-content:center;
}

.feature h4{
    margin-bottom:30px;
    text-align:center;
    letter-spacing:2.6px;
    font-size:11px;
}
.feature p{
    font-size:18px;
    text-align:center;
    line-height:1.9;
}

.feature__description li{
    list-style:disc;
    text-align:left;;
    margin-left:20px;
    line-height:1.9;
}