.notice{
    width:inherit;
    background-color:#131415;
    margin-bottom:30px;
}

.notice__container{
    width:inherit;
    padding:30px;
    text-align:center;
    font-size:18px;
    color:#fff;
    background-image:url('../img/pattern.png');
    background-size:contain;
}


.notice__container span{
    font-weight:bold;
    color:#f89513;
}