.rewiews-block{
    padding-top:50px;
    margin-bottom:50px;
}
.rewiews__container{
    display:flex;
    padding-left:20px;
    padding-right:40px;
}

.rewiews{
    margin-bottom:50px;
}
.rewiews h2{
    font-size:49px;
    letter-spacing:2.5px;
    margin-bottom:50px;
}


.rewiews__list{
    display:flex;
    flex-direction:column;
}

.rewiews__item{
    display:flex;
    font-size:18px;
    font-weight:300px;
    line-height:1.5;
}

.rewiews__item:not(:last-child){
    margin-bottom:60px;
}

.rewiews__description time{
    font-size:14px;
    color:#656464;
}

.rewiews__description h4 {
    margin-bottom:10px;
}


.afrodita-avatar{
    min-width:170px;
    height:170px;
    margin-right:20px;
    border-radius: 50%;
    overflow: hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    filter:grayscale(1);
}

