.social-networks{
    width:175px;
}
.social-networks h4{
    font-size:14px;
    font-weight:bold;
    letter-spacing:normal;
}

.social-networks__list{
    display:flex;
    justify-content:space-evenly;
    margin-top:5px;
}

.social-networks__list li{
    width:20px;
    height:20px;
    border-radius:50%;
    position: relative;
}


.social-networks__list li a{
    width:20px;
    height:20px;
    display:flex;
    justify-content: center;
    align-items:center;
}


.social-networks__list li:not(:last-child){
    margin-right:10px;
}


.social-networks__list li:hover{
    background-color:#f89513;
}


